@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

:root {
  /* Variáveis Light Mode */
  --bg-color: #f0f2f5;
  --text-color: #1a1a1a;
  --card-bg: #ffffff;
  --border-color: #e0e0e0;
  --primary: #00dc82; /* Verde Neon */
  --header-bg: rgba(255, 255, 255, 0.8);
  --input-bg: #f5f5f5;
  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-dark: rgba(255, 255, 255, 0.5);
}

body.dark {
  /* Variáveis Dark Mode */
  --bg-color: #0a0a0a;
  --text-color: #ffffff;
  --card-bg: #111111; /* Fundo sólido levemente mais claro que o body */
  --border-color: #333333;
  --primary: #00dc82;
  --header-bg: rgba(10, 10, 10, 0.8);
  --input-bg: #1a1a1a;
  --shadow-light: rgba(255, 255, 255, 0.05); /* Luz sutil */
  --shadow-dark: rgba(0, 0, 0, 0.5); /* Sombra profunda */
}

* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);         
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* Scrollbar Personalizado */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: var(--bg-color); }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: var(--primary); }